<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ad.css' %}">
</head>
<body>
    <h1>{{ author.first_name }} {{ author.last_name }}</h1>
    <h4>Author ID: {{ author.id }}</h4>
    <h4>Author Notes: {{author.notes}}</h4>
    <h4>Books:</h4>
    <ul>
    {% for book in author.books.all %}
        <li><a href="/book_desc.html/{{book.id}}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
    {% if books %}
    <form action="/author/{{ author.id }}/assign" method="post">
        {% csrf_token %}
        <div>
            <select name="book_id">
                {% for book in books %}
                <option value="{{ book.id }}">{{ book.title}}</option>
                {% endfor %}
            </select>
        </div>
        <button>Add</button>
    </form>
    {% endif %}
    <a href="/author">Back to Author List</a>
</br>
    <a href="/">Back to Book List</a>
</body>
</html>